/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Контейнер для содержимого страницы */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Стили для заголовка */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
}

/* Стили для полей ввода */
input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Стили для кнопки */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

/* Стили для кнопки при наведении */
button:hover {
    background-color: #0056b3;
}

/* Стили для ссылки "Забыли пароль?" */
.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Стили для сообщения */
#message {
    margin-top: 20px;
    font-size: 1em;
    color: red;
}